.heading{
	color: orange;
}
.block{
	color: lightblue;
}
.footer1{
	color: silver;
}
p{
	text-align: justify;
	display: none;
}

#comic {
	font-family: Comic Sans MS;
}

#italic {
	font-style: italic;
}

#png01 {
	background-image:url('/images/demo/backgrounds/01.png') !important;
}
#png02 {
	background-image:url('/images/demo/backgrounds/02.png') !important;
}

#ul {
	background-color: silver;
}

#black-important {
	color: black !important;
}