.heading{
	color: orange;
}
.block{
	color: lightblue;
}
.footer1{
	color: silver;
}
p{
	text-align: justify;
	display: none;
}

#01png {
	background-image:url('images/demo/backgrounds/01.png');
}
#02png {
	background-image:url('images/demo/backgrounds/02.png');
}
